/* font */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Ibarra+Real+Nova:wght@700&family=Roboto:wght@400;500&display=swap');

/* Common Style utilities */
body {
    font-family: 'Ibarra Real Nova', serif;
}

/* Top Banner Style */
.top-banner {
    background-color: black;
    height: 300px;
    width: 700px;
    padding: 60px;
    border-radius: 30px;
    margin-left: 120px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.earth {
    height: 350px;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 0px;

}

.tex {
    color: white;
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 7px;
    text-align:justify;

}
p {
    color: white;
    font-size: 13px;
    margin-top: 15px;
}

.anchor-button {
    background: linear-gradient(indianred, red);
    text-decoration: none;
    padding: 16px 35px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}
.fa-greater-than{ 
    margin-left: 8px;
}
.photo{
    margin-left: 10px;
    margin-bottom: 0px;
    zoom: 122%;
}
.up-body{
    margin-top: 90px;
}
.anchor{
    background-color:black;
    height: 220px;
    width: 18%;
    display: flex;
    flex-direction: column;
}
.anchor-button-1{
    background:white;
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: 700;
    color:black;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    text-align: center;
}
.anchor-button-2{
    background: whitesmoke;
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: 700;
    color:black;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    text-align: center;
}
.anchor-button-3{
    background: linear-gradient(indianred, red);
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: 700;
    color:black;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    text-align: center;
}